.container {
    position: absolute;
    left: 0px;
    right: 0px;
    color: white;
    width: fit-content;
    margin: 0 auto;
    top: Calc(50vh - 50%);
    border-radius: 10px;
}

form {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}

input {
    width: 20em;
    border-radius: .2em;
    border: none;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: .5em;
    display: block;
    border: 1px solid darkslategray;
}

input:active {
    border: 1px solid darkslategray;
    outline: none;
}

input:focus {
    outline: none;
}

label {
    color: black;
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: 1em;
    padding: .5em .2em .5em 0em;
    font-family: Verdana;
    letter-spacing: .05em;
}

button {
    width: 100%;
    height: 3.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-family: Verdana;
    font-size: 1em;
    background-color: green;
}

button:hover {
    background-color: darkgreen;
}

button:active {
    background-color: darkolivegreen;
}

#button-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0em;
}