.my-code-block {
    background-color: #b9a0a0;
    padding: 1em;
    border-radius: .2em;
    border: 1px outset black;
    box-shadow: 2px 2px 5px #a42c2c;
    font-family: "Consolas", sans-serif;
    font-size: 1.3em;
    white-space: pre-wrap;
    overflow-y: auto;
}

table {
    color: black;
    border: 1px solid black;
    border-spacing: 0;
}

th {
    background-color: gray;
}

td {
    border: 1px solid black;
    text-align: center;
}

p {
    padding: 10px;
    margin: 0;
    background-color: transparent;
}

.codeblock3 {
    padding: 1em;
    border-radius: .2em;
    border: 1px outset black;
    box-shadow: 2px 2px 5px #a42c2c;
    font-family: "Consolas", sans-serif;
    white-space: pre-wrap;
    margin-top: 20px;
    background-color: black;
    transition: all 1s;
}



.codeblock3:hover {
    background-color: #d0c2c2;
    transition: all 1s;
}

pre {
    padding: 0;
    margin: 0;
    font-size: .8em;
}

img {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    margin: 4px;
    background: #b6b6b6;
    border-radius: 1000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
    border-radius: 13px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}