#cards-container {
    overflow-x: hidden;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.card {
    position: relative;
    transition-property: min-height, min-width, opacity;
    transition-duration: 1s;
    /*background-color: green;*/
    min-width: 25em;
    max-width: 25em;
    min-height: 15em;
    max-height: 15em;
    margin: .5em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.hide {
    opacity: 0;
}

/*.hide-cards {*/
/*    display: none !important;*/
/*}*/

.expanded-card {
    transition-property: min-height, min-width;
    transition-duration: 1s;
    max-height: 40em;
    min-height: 40em;
    max-width: 40em;
    min-width: 40em;
    z-index: 3;
}

.card-front {
    position: absolute;
    border-style: solid;
    border-color: #724c4c;
    box-sizing: border-box;
    box-shadow: 0 0 10px #ff8888;
    min-width: 95%;
    max-width: 95%;
    min-height: 100%;
    max-height: 100%;
    background-color: #8d8c8c;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif, sans-serif;
    text-align: center;
    left: Calc(50% - 47.5%);
    font-size: 1.5em;
}

.card-back {
    position: absolute;
    font-family: sans-serif, sans-serif;
    border-style: solid;
    border-color: #755050;
    box-sizing: border-box;
    padding: .5em;
    min-width: 95%;
    max-width: 95%;
    max-height: 100%;
    min-height: 100%;
    background-color: #8d8c8c;
    z-index: 1;
    transform: rotateY(180deg);
    left: Calc(50% - 47.5%);
    font-size: 1em;
    overflow-y: hidden;
}

.subcategory {
    margin: 5px auto;
    padding: 0;
    position: absolute;
    min-width: 10em;
    max-width: 100%;
    left: Calc(50% - 5em);
    top: 0;
    text-align: center;
    z-index: 0;
    font-size: 16px !important;
    text-decoration: underline;
    box-sizing: border-box;
}


@keyframes flip-from-front {
    0% {
        transform: rotateY(0deg);
        color: black;
        overflow-y: auto;
        z-index: 2;
        opacity: 1;
    }
    49.9% {
        color: black;
        overflow-y: auto;
        z-index: 2;
        opacity: 1;
    }
    50% {
        transform: rotateY(90deg);
        color: transparent;
        overflow-y: hidden;
        z-index: 1;
    }
    100% {
        transform: rotateY(180deg);
        color: transparent;
        z-index: 1;
    }
}

@keyframes flip-from-back {
    0% {
        transform: rotateY(180deg);
        color: transparent;
        overflow-y: hidden;
        z-index: 1;
    }
    49.9% {
        color: transparent;
        overflow-y: hidden;
        z-index: 1;
    }
    50% {
        color: black;
        overflow-y: auto;
        z-index: 2;
        opacity: 1;
    }
    100% {
        transform: rotateY(0deg);
        color: black;
        z-index: 2;
        opacity: 1;
    }
}

.front-to-back {
    animation: flip-from-front 1s linear 1;
    transform: rotateY(180deg);
    color: transparent;
}

.front-to-front {
    animation: flip-from-back 1s linear 1;
    transform: rotateY(0deg);
    color: black;
}


.back-to-front {
    animation: flip-from-back 1s linear 1;
    transform: rotateY(0deg);
    color: black;
}

.back-to-back {
    animation: flip-from-front 1s linear 1;
    transform: rotateY(0deg);
    color: black;
    overflow-y: hidden;
    opacity: 0;
}

.expand {
    position: sticky;
    display: inline-block;
    float: right;
    margin: 0 5px 0 0;
    padding: 0;
    background-color: transparent;
    min-width: 1.5em;
    max-width: 1.5em;
    min-height: 1.5em;
    max-height: 1.5em;
}

.recycle {
    position: sticky;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 0;
    background-color: transparent;
    min-width: 1.5em;
    max-width: 1.5em;
    min-height: 1.5em;
    max-height: 1.5em;
}

.expand:hover {
    cursor: pointer;
}

.recycle:hover {
    cursor: pointer;
}

.expand-image {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .card {
        min-width: 95%;
        max-width: 95%;
        min-height: 10em;
        max-height: 10em;
        transition: min-height 1s;
    }

    .expanded-card {
        min-height: 30em;
        max-height: 30em;
        transition: min-height 1s;
    }

    .card-front {
        font-size: 1em;
    }

    .card-back {
        font-size: 1em;
    }

    .expand-image {
        max-width: 1.5em;
    }
}

#quick-div {
    position: absolute;
    z-index: -1;
    min-width: 40em;
    max-width: 40em;
    min-height: fit-content;
    max-height: fit-content;
}