#toolbar {
    position: sticky;
    background-color: #8d8c8c;
    z-index: 4;
    top: 0;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    overflow-y: hidden;
    transition-property: min-height, max-height;
    transition-duration: 1s;
    font-family: "Old Antic", sans-serif;
}

h3 {
    max-height: 25px;
    min-height: 0px;
    margin: 0;
}

.hidden {
    max-height: 0 !important;
    min-height: 0 !important;
    transition-property: min-height, max-height;
    transition-duration: 1s;
}

/*.fucking-container {*/
/*    position: relative;*/
/*    min-height: 0;*/
/*    max-height: 0;*/
/*}*/

#middle-divide {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    /*overflow-y: auto;*/
    /*overflow-x: unset;*/
}

#menu-icon-div {
    background-color: #000000;
    position: fixed;
    left: 10px;
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
    max-width: 2em;
    min-width: 2em;
    max-height: 2em;
    min-height: 2em;
    transition: all 1s;
}


@media screen and (min-width: 700px) {
    #menu-icon-div:hover {
        transform: scale(1.2);
        background-color: darkred;
    }
}

@media screen and (max-width: 700px) {
    #menu-icon-div:active {
        transition: top 1s !important;
        transform: scale(1.8);
        background-color: yellow;
    }
}


.section-container {
    position: relative
}

.input-container {
    position: relative;
    padding: 10px 5px;
    max-width: 100px;
    min-width: 100px;
    max-height: 25px;
    min-height: 25px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.category-container {
    position: relative;
    max-height: 100%;
    min-height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.input-center {
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    line-height: 1em;
}

.category-title {
    position: absolute;
    top: 0;
}

.input-section {
    margin-top: 30px;
}

input[type=checkbox] {
    background-color: rgb(43, 43, 43);
    color: rgb(43, 43, 43);
}



.title-ani {
    position: relative !important;
}