body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    border-radius: 0px;
    margin-bottom: -1px;
  }

  .form-signin select[type="select"] {
    border-radius: 0;
    margin-bottom: -1px;
  }

#inputCountry {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .results-display {
    background-color: whitesmoke;
    max-width: fit-content;
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid rgb(158, 37, 132) 1px;
    box-shadow: 2px 2px 8px rgb(158, 37, 132);
    margin: 0 auto;
  }
