body {
    background-color: rgb(116, 85, 85);
}

.myInput {
    border-radius: 0px;
    color: black;
    border: 1px solid black;
}

.form-control {
    background-color: rgb(91, 104, 109);
    margin-bottom: -1px;
}

.form-control:active {
    background-color: rgb(91, 104,109);
    color: black;
}

.form-control:focus {
    background-color: rgb(91, 104, 109);
    color: black;
}

.form-control::placeholder {
    color: black;
}

.list-item {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 223, 225);
    text-align: center;
    max-width: 250px;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid black;
    box-shadow: 0 0 5px red;
    border-radius: 4px !important;
}